.login-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding: 60px 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 1.8em;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(193, 193, 193);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: rgb(141, 141, 141);
}

.links {
    margin-top: 25px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}